<div class="container">
    <h2>Update Department</h2>
    <form [formGroup]="updateDepartmentForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="departmentName">Department ID</label>
        <input
          type="text"
          class="form-control"
          id="departmentName"
          placeholder="Enter Department ID"
          formControlName="departmentID"
        /> <span class="error-messege" *ngIf="
        updateDepartmentForm.controls['departmentID'].hasError('required') &&
        updateDepartmentForm.controls['departmentID'].dirty
          ">Enter department ID</span> <br> <br>
        <label for="departmentName">Department Name</label>
        <input
          type="text"
          class="form-control"
          id="departmentName"
          placeholder="Enter Department Name"
          formControlName = "departmentName"
        /> <span class="error-messege" *ngIf="
        updateDepartmentForm.controls['departmentName'].hasError('required') &&
        updateDepartmentForm.controls['departmentName'].dirty
          ">Enter department Name </span><br><br>
      </div>
      <button style="align-items: center;" type="submit" class="btn btn-primary"  >Submit</button>
    </form>
  </div>
  