<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="input-form">
    <span class="title-input">Email</span>
    <input class="input-box" type="email" formControlName="email" />
    <span
      class="error-message"
      *ngIf="email && email.invalid && email.touched"
      >Incorrect email</span
    >
  </div>
  <div class="input-form">
    <span class="title-input">Password</span>
    <input class="input-box" type="password" formControlName="password" />
    <span
      class="error-message"
      *ngIf="password && password.invalid && password.touched"
      >Incorrect Password</span
    >
  </div>
  <button class="button">Login</button><br /><br />
</form>