<div class="container">
  <h2>Add Department</h2>
  <form [formGroup]="addDepartmentForm">
    <div class="form-group">
      <label for="departmentName">Department ID</label>
      <input
        type="text"
        class="form-control"
        id="departmentName"
        placeholder="Enter Department ID"
        formControlName="departmentID"
      /> <br> <br>
      <label for="departmentName">Department Name</label>
      <input
        type="text"
        class="form-control"
        id="departmentName"
        placeholder="Enter Department Name"
        formControlName = "departmentName"
      /> <br><br>
    </div>
    <button style="align-items: center;" type="submit" class="btn btn-primary" (click)="onSubmit()" >Submit</button>
  </form>
</div>
