
<h2>Employees</h2>
<table>
  <tr>
    <th>Employee ID</th>
    <th>Employee Name</th>
    <th>Email</th>
    <th>Contact</th>
    <th>Department</th>
  </tr>
  <tr>
    <td>54623</td>
    <td>Prajwal Pandey</td>
    <td>prajwalpandey003@gmail.com</td>
    <td>67262462</td>
    <td>Web</td>
  </tr>
  <tr>
    <td>54623</td>
    <td>Ravi Tiwari</td>
    <td>ravit333@gmail.com</td>
    <td>101669363</td>
    <td>Android</td>
  </tr>
  <tr>
    <td>97231</td>
    <td>Kanika kumar</td>
    <td>kaniskak923@gmail.com</td>
    <td>6394621199</td>
    <td>Blockchain</td>
  </tr>
</table>

<div class="btn">
  <button>Review</button>
</div>

