<h2>Employee</h2>
<table>
  <tr>
    <th>Employee ID</th>
    <th>Employee Name</th>
    <th>Email ID</th>
    <th>Contact Number</th>
    <th>Department</th>
    <th>User Type</th>
    <th>Action</th>
  </tr>
  <tr>
    <td>54623</td>
    <td>Prajwal Pandey</td>
    <td>prajwalpandey</td>
    <td>6394621499</td>
    <td>Enginner</td>
    <td>Admin</td>
    <td>
      <button>Edit</button>
      <button>Delete</button>
    </td>
  </tr>
  <tr>
    <td>54623</td>
    <td>Prajwal Pandey</td>
    <td>prajwalpandey</td>
    <td>6394621499</td>
    <td>Enginner</td>
    <td>Admin</td>
    <td>
      <button>Edit</button>
      <button>Delete</button>
    </td>
  </tr>
  <tr>
    <td>54623</td>
    <td>Prajwal Pandey</td>
    <td>prajwalpandey</td>
    <td>6394621499</td>
    <td>Enginner</td>
    <td>Admin</td>
    <td>
      <button>Edit</button>
      <button>Delete</button>
    </td>
  </tr>
  <tr>
    <td>54623</td>
    <td>Prajwal Pandey</td>
    <td>prajwalpandey</td>
    <td>6394621499</td>
    <td>Enginner</td>
    <td>Admin</td>
    <td>
      <button>Edit</button>
      <button>Delete</button>
    </td>
  </tr>
</table>
