
<div class="container">
    <h2>Holidays Request</h2>
    <table>
        <tr>
            <th>
                Employee ID
            </th>
            <th>
                Employee Name
            </th>
            <th>
                Date
            </th>
            <th>
                Status
            </th>
        </tr>
        <tr>
            <td>
                46216518
            </td>
            <td>
                Prajwal Pandey
            </td>
            <td>
                2/5/2015
            </td>
            <td>
                Pending
            </td>
    </table>
 </div>
 