<div class="container">
  <form [formGroup]="updateHolidayRequestForm" >
    <h2>Update Employee Holiday Request</h2>
    <label>Employee ID</label> <br />
    <input type="text" formControlName = 'employeeID' /> <br />
    <br />
    <label>Employee Name</label> <br />
    <input type="text" formControlName = 'employeeName' /> <br />
    <br />
    <label for="cars">Department:</label>
    <label for="department">Department:</label>
    <select id="departmentName" name="departmentName" formControlName = "department">
      <option value="Enginner">Enginner</option>
      <option value="Managment">Managment</option>
      <option value="Advertising">Advertising</option>
      <option value="Designing">Designing</option></select
    ><br />
    <br />
    <label>Date</label> <br />
    <input type="date"  formControlName = 'date'/> <br />
    <br />
    <label>Reason</label> <br />
    <input type="text" formControlName = "reason" />
    <select id="decison" name="decison" formControlName = 'decison'>
      <option value="Approved">Approved</option>
      <option value="Reject">Reject</option></select
    ><br />
    <br />
    <input type="submit" (click)="onSubmit()" >
  </form>
</div>
