
<div class="container">
    <h2>Employee Holiday Request</h2>
    <table>
        <tr>
            <th>Employee ID</th>
            <th>Employee Name</th>
            <th>Department</th>
            <th>Reason</th>
            <th>Date</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>46216518</td>
            <td>Prajwal Pandey</td>
            <td>
                Enginner
            </td>
            <td>Wedding</td>
            <td>2/5/2015</td>
            <td>Pending</td>
            <td>
                <button>Update</button>
                <button>Delete</button>
            </td>
        </tr>
    </table>
</div>
