table {
    margin-top: 20px;
    margin-left: 15px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 45%;
 }
  
 td,
 th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
 }
  
 tr:nth-child(even) {
    background-color: #dddddd;
 }
  
 tr:hover {
    background-color: coral;
 }
 