<div class="container">
    <form>
      <h2>Update Holiday Request</h2>
      <label>Employee ID</label> <br />
      <input type="text" /> <br />
      <br />
      <label>Employee Name</label> <br />
      <input type="text" /> <br />
      <br />
      <label for="cars">Department:</label>
      <select id="cars" name="cars">
        <option value="volvo">Enginner</option>
        <option value="saab">Managment</option>
        <option value="fiat">Advertising</option>
        <option value="audi">Designing</option></select
      ><br />
      <br />
      <label>Date</label> <br />
      <input type="date" /> <br />
      <br />
      <label>Reason</label> <br />
      <input type="text" />
      <select id="cars" name="cars">
        <option value="volvo">Approved</option>
        <option value="saab">Reject</option></select
      ><br />
      <br />
      <input type="submit">
    </form>
  </div>
  