<h2>Department</h2>

<table>
    <tr>
        <th>
            Department ID
        </th>
        <th>
            Department Name
        </th>
        <th>
            Action
        </th>
    </tr>
    <tr>
        <td>
            01
        </td>
        <td>
            Engineer
        </td>
        <td>
            <button>Update</button>
            <button>Delete</button>
        </td>
    </tr>
    <tr>
        <td>
            02
        </td>
        <td>
            Managment
        </td>
        <td>
            <button>Update</button>
            <button>Delete</button>
        </td>
    </tr>
    <tr>
        <td>
            03
        </td>
        <td>
            Advertising
        </td>
        <td>
            <button>Update</button>
            <button>Delete</button>
        </td>
    </tr>
</table>

